* {
    margin:0; 
    padding:0;
}

nav {
   margin:auto;
   text-align: center;
   width: 100%;
   font-family: arial;
   background:#37988e;
   width: 100%;
   display: flex;
   justify-content: space-between;
   text-align: center;
} 

nav ul {
   padding: 0 20px;
   list-style: none;
   position: relative;

}

nav ul li{
   float:left;
   transition: ease-in-out .5s;

}
nav ul li a{
    transition: ease-in-out .5s;

}
nav ul li:hover a{
    transition: ease-in-out .5s;
   transform: translateY(-10px);
}

nav .logo{
    display: flex;
   width: auto;
   margin: auto 30px auto auto;
   color: #fff;
   transition: ease-in-out 2s;
   
}

nav .logo:hover{
    transition: ease-in-out .2s;
    display: flex;
    font-size: 30px;
    width: auto;
    margin: auto 25px auto auto;
    color: #fff;

}

nav ul li:hover a{
    color:#000;
}

nav ul li a{
    display: block;
    padding: 25px;
    color: #fff;
    text-decoration: none;
}
